$color: #607D8B;

* {
    box-sizing: border-box;
}

body {
    background-color: #eee;
    font-family: Roboto, Arial, sans-serif;
}

h2 {
    margin: 0;
    font-size: 20px;
    font-weight: normal;
    color: #455A64;
}

hr {
    width: calc(100% + 40px);
    border: 0;
    border-top: 1px solid transparentize(#95989A, 0.9);
    margin-top: 1.225rem;
    margin-left: -20px;
}

.button {
    width: 191px;
    height: 48px;
    padding: 13px;
    border-radius: 4px;
    border: none;
    background-color: $color;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    cursor: pointer;
    outline: none;
    transition: .3s background-color;

    &:hover {
        background-color: transparentize($color, 0.15);
    }
}

.header {
    height: 128px;
    background-color: $color;
    position: relative;

    .header-wrap {
        width: 800px;
        position: absolute;
        top: 64px;
        left: calc(50% - 400px);
    }

    .header-section {
        margin-bottom: 20px;
        padding: 20px 20px 32px 20px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08);

        .form {
            width: 100%;
            padding: 24px 12px 0;
            position: relative;

            .overlay {
                width: 100%;
                height: 100%;
                display: none;
                position: absolute;
                left: 0;
                top: 0;
                background-color: transparent;
                transition: background-color .3s;

                &.active {
                    background-color: transparentize(#fff, 0.05);
                }
                &::after {
                    width: 200px;
                    height: 200px;
                    background-color: #000;
                    position: absolute;
                    top: calc(50% - 100px);
                    left: calc(50% - 100px);
                }
            }

            .form-input {
                width: 352px;
                height: 48px;
                color: #455A64;
                border: none;
                outline: none;
                padding: 0;
                border-bottom: 2px solid transparentize($color, 0.9);
                line-height: 46px;
                transition: border-color .3s;
                float: left;

                &:last-of-type {
                    float: right;
                }

                &:focus {
                    border-color: transparentize($color, 0.5);
                }
            }

            .form-btns {
                width: 390px;
                height: 48px;
                margin: 24px auto 0;
            }
        }
    }
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}

.clear-both {
    height: 0;
    overflow: hidden;
    clear: both;
}
